flask v3.1.1
├── blinker v1.9.0
├── click v8.2.1
│   └── colorama v0.4.6
├── itsdangerous v2.2.0
├── jinja2 v3.1.6
│   └── markupsafe v3.0.2
├── markupsafe v3.0.2
└── werkzeug v3.1.3
    └── markupsafe v3.0.2
ruff v0.12.7
